

.table {
  border: white;
  width: 30%;
  padding: 10px;
  color: black;
  font-size: 15px;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  color: black;
  font-size: 20px;
}

#box {
  background-color: rgb(241, 237, 237);
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 900px;
  height: auto;
}

.table table-bordered {
  width: auto;
  table-layout: collapse;
}

.button {
  border-radius: 10px;
  background-color: darkorange;
  color: black;
  margin: auto;
  width: 30%;
  padding: 8px;
}

.button:hover {
  background-color: #09e639;
}

#background {
  background-color: cornsilk;
  width: auto;
  height: auto;
}

.para1 {
  font-size: 30px;
  color: darkorange;
  font-family: Arial, Helvetica, sans-serif;
}
.button
{

  border-radius: 10px;
  background-color: darkorange;
  color: black;
  margin-left: 20px;
  width: auto;
  padding: 8px;
}
button:hover {
background-color: #09e639;
}

#background
{
  background-color: cornsilk;
  width: auto;
  height: auto;
}
.para1
{
  font-size: 30px;

  color : darkorange;
  font-family: Arial, Helvetica, sans-serif;

}

#bugName,#Status{
  margin-left: 20px;
}
.table table-bordered{
  border:1px solid black;
}
.table td{
  border:1px solid black;
}

.refresh{
  padding: 5px;
  margin-left: 180px;
}

